<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Страница пользователя</title>
</head>
<body>

<div class="container-fluid m-0 p-0">

    <nav class="navbar navbar-dark bg-dark">
        <h3 class="text-white text-left" id="navbar"></h3>
        <form class="form-inline" th:action="@{/logout}" th:method="POST">
            <button type="submit" class="btn btn-primary">Выход</button>
        </form>
    </nav>

    <div class="container-fluid m-0 p-0">

        <!-- навигационная панель -->
        <div class="row">
            <div class="col-md-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                       aria-controls="v-pills-home" aria-selected="true">Admin</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                       aria-controls="v-pills-profile" aria-selected="false">User</a>
                </div>
            </div>

            <!-- Информация о панели -->
            <div class="col-md-10 p-3 bg-light">
                <!-- Навигационная панель с боковыми вкладками -->
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                         aria-labelledby="v-pills-home-tab">

                        <div class="h1">Страница Admin</div>
                        <!-- Навигационная панель со вкладками -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" href="#home" data-toggle="tab" id="usersTable">
                                    Все пользователи
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                                   role="tab" aria-controls="profile" aria-selected="false">Добавить пользователя</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                <div class="border h5 pl-3 pt-2 pb-2 m-0">О пользователе</div>

                                <div class="bg-white border p-3">
                                    <!-- таблица -->
                                    <table class="table table-striped border-top table-responsive-md text-left">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Имя</th>
                                            <th scope="col">Фамилия</th>
                                            <th scope="col">Возраст</th>
                                            <th scope="col">E-мейл</th>
                                            <th scope="col">Роли</th>
                                            <th scope="col">Изменить</th>
                                            <th scope="col">Удалить</th>
                                        </tr>
                                        </thead>
                                        <tbody id="adminTable">
                                        <!-- Модальное окно edit -->
                                        <div class="modal" id="modalEdit" tabindex="-1">
                                            <form id="edit-user">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Edit user</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="text-center">
                                                                <div class="form-group">
                                                                    <label for="editId">ID</label>
                                                                    <input type="number" class="form-control"
                                                                           id="editId" disabled>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="editName">Имя</label>
                                                                    <input type="text" class="form-control"
                                                                           id="editName">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="editSurname">Фамилия</label>
                                                                    <input type="text" class="form-control"
                                                                           id="editSurname">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="editAge">Возраст</label>
                                                                    <input type="number" min="1" max="127" step="1"
                                                                           class="form-control" id="editAge" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="editEmail">E-майл</label>
                                                                    <input type="text" class="form-control" name="email"
                                                                           id="editEmail" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="editPassword">Пароль</label>
                                                                    <input type="password" class="form-control"
                                                                           id="editPassword" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="editRoles">Роль</label>
                                                                    <select multiple
                                                                            class="form-control form-control-sm"
                                                                            id="editRoles" size="2" required>
                                                                        <option>ADMIN</option>
                                                                        <option>USER</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Закрыть
                                                            </button>
                                                            <button type="submit" class="btn btn-primary"
                                                                    data-dismiss="modal">Сохранить
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Конец модального окна edit -->
                                        <!-- Модальное окно delete -->
                                        <div class="modal" id="modalDelete" tabindex="-1">
                                            <form>
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Delete user</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="text-center">
                                                                <div class="form-group">
                                                                    <label for="deleteId">ID</label>
                                                                    <input type="number" class="form-control"
                                                                           id="deleteId" disabled>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="deleteName">Имя</label>
                                                                    <input type="text" class="form-control"
                                                                           id="deleteName" disabled>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="deleteSurname">Фамилия</label>
                                                                    <input type="text" class="form-control"
                                                                           id="deleteSurname" disabled>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="deleteAge">Возраст</label>
                                                                    <input type="number" min="1" max="127"
                                                                           step="1"
                                                                           class="form-control" id="deleteAge"
                                                                           disabled>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="deleteEmail">E-майл</label>
                                                                    <input type="text" class="form-control"
                                                                           id="deleteEmail" disabled>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="deleteRoles">Роль</label>
                                                                    <select multiple
                                                                            class="form-control form-control-sm"
                                                                            id="deleteRoles" size="2" disabled>
                                                                        <option>ADMIN</option>
                                                                        <option>USER</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Закрыть
                                                            </button>
                                                            <button type="submit" class="btn btn-danger"
                                                                    data-dismiss="modal">Удалить
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Конец модального окна delete -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Вторая вкладка добавить User-а -->
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="text-center">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">
                                                <form id="addUserForm">
                                                    <div class="form-group">
                                                        <label>Имя</label>
                                                        <input type="text" id="newName" class="form-control"
                                                               placeholder="Name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Фамилия</label>
                                                        <input type="text" id="newSurname" class="form-control"
                                                               placeholder="Surname">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Возраст</label>
                                                        <input type="number" id="newAge" class="form-control"
                                                               placeholder="Age" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Е-майл</label>
                                                        <input type="text" id="newEmail" class="form-control"
                                                               placeholder="Email" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Пароль</label>
                                                        <input type="password" id="newPassword" class="form-control"
                                                               placeholder="Password" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Роль</label>
                                                        <select multiple class="form-control form-control-sm"
                                                                id="newUserRole" size="2" required>
                                                            <option>ADMIN</option>
                                                            <option>USER</option>
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-success">Добавить</button>
                                                </form>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Вторая вкладка User -->
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                         aria-labelledby="v-pills-profile-tab">

                        <div class="col-md-10 p-3 bg-light">
                            <div class="h1">Информация о пользователе</div>
                            <div class="border h5 pl-3 pt-2 pb-2 m-0">О пользователе</div>

                            <div class="bg-white border p-3 ">

                                <table class="table table-striped border-top table-responsive-md text-left">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Имя</th>
                                        <th scope="col">Фамилия</th>
                                        <th scope="col">E-мейл</th>
                                        <th scope="col">Возраст</th>
                                        <th scope="col">Роль</th>
                                    </tr>
                                    </thead>
                                    <tbody id="userTable">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="admin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>

</body>
</html>