<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">E-мейл</th>
        <th scope="col">Возраст</th>
        <th scope="col">Операции</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${user}">
        <td th:text="*{id}"/>
        <td th:text="*{name}"/>
        <td th:text="*{surname}"/>
        <td th:text="*{email}"/>
        <td th:text="*{age}"/>
        <td>
            <a th:href="@{/update/{id}(id=${user.getId()})}">Редактировать</a>
            <!--<a th:href="@{/delete/{id}(id=${user.getId()})}">Удалить</a>-->
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>